<div class="d-flex flex-row" style="width:100%; height:100%; position:fixed;">
    <!-- Sidebar -->
    <!-- NOTE: all button and dropdown widths are hardcoded, so will not adapt with sidebar width. sorry. -->
    <app-sidebar>
        <!-- select-dataset component includes formatting for "Dataset filtering" and "Chart data" sections -->
        <!-- (this is not a good solution, but works for me now) -->
        <!-- (if you want more reusability, you should split every dropdown into different component) -->
        <!-- (just look at PCL Spy frontend code, it's better) -->
        <select-dataset #selectDataset></select-dataset>
        <select-run_class #selectRunClass></select-run_class>

        <hr/>
        <h5 class="text-center">Chart options</h5>

        <div class="btn-group btn-group-toggle mb-2">
            <label [ngClass]="showLabels.checked ? 'btn-outline-primary' : 'btn-outline-secondary'" style="width:18rem;" ngbButtonLabel>
                <input type="checkbox" #showLabels ngbButton (change)="0">Toggle labels
            </label>
        </div>

        <div class="btn-group btn-group-toggle mb-2">
            <label [ngClass]="timeBased.checked ? 'btn-outline-primary' : 'btn-outline-secondary'" style="width:18rem;" ngbButtonLabel>
                <input type="checkbox" #timeBased ngbButton (change)="0">Toggle time x-axis
            </label>
        </div>

    </app-sidebar>

    <!-- Main chart area -->
    <!-- There's a bug when collapsing and extending sidebar, somehow chart doesn't adapt to smaller
         area (it adapts when collapsing, but not when extending).  I don't know how to fix that. -->
    <div class="flex-fill">
        <event-chart-wrapper
            [dataset]=selectDataset.selectedDataset
            [runClass]=selectRunClass.selectedRunClass
            [showLabels]="showLabels.checked" 
            [timeBased]="timeBased.checked">
        </event-chart-wrapper>
    </div>
</div>

