<h5 class="text-center">Dataset filtering</h5>

<label class="small text-muted mb-0" for="selectPrimaryDsName">Primary dataset name</label>
<app-dropdown   id="selectPrimaryDsName"
                [options]="primaryDsNames"
                [selected]="selectedPrimaryDsName"
                [emptyOption]="true"
                [emptyOptionMsg]="'Any'"
                [classes]="'btn-sm'"
                (onSelect)="onPrimaryDsNameSelect($event)">
</app-dropdown>

<label class="small text-muted mb-0" for="selectAcquisitionEra">Acquisition era</label>
<app-dropdown   id="selectAcquisitionEra"
                [options]="acquisitionEras"
                [selected]="selectedAcquisitionEra"
                [emptyOption]="true"
                [emptyOptionMsg]="'Any'"
                [classes]="'btn-sm'"
                (onSelect)="onAcquisitionEraSelect($event)">
</app-dropdown>

<label class="small text-muted mb-0" for="selectDataTier">Data tier</label>
<app-dropdown   id="selectDataTier"
                [options]="dataTiers"
                [selected]="selectedDataTier"
                [emptyOption]="true"
                [emptyOptionMsg]="'Any'"
                [classes]="'btn-sm'"
                (onSelect)="onDataTierSelect($event)">
</app-dropdown>

<hr/>
<h5 class="text-center">Chart data</h5>

<label class="text-muted mb-0" for="selectDataset">Dataset</label>
<app-dropdown   id="selectDataset"
                [options]="filteredDatasets"
                [selected]="selectedDataset"
                [droplistPlacement]="'right'"
                (onSelect)="onDatasetSelect($event)">
</app-dropdown>