<div class="container-fluid">
    <div class="card m-4">
        
        <h3 class="card-header">Welcome to the Dataset Spy</h3>
        
        <div class="card-body row">

            <!-- Main text -->
            <div class="col-8 card-text">
                <p>Dataset Spy is a service to monitor size of datasets for every CMS run.</p>

                <ul>
                    <li><b class="strong-text">Charts</b><br>
                        Currently only one chart which shows number of events of every run for selected dataset and run class.
                    </li>

                    <li><b class="strong-text">Admin</b><br>
                        Not implemented yet.
                    </li>
                </ul>
            </div>

            <!-- Resources box -->
            <div class="col-4">
                <section class="mb-1 pa-1 bg-light text-center">
                    <h4>Resources</h4>

                    <h6>
                        <a href="{{URLS.LINKS.TWIKI_END_USERS}}" target="_blank">
                        Link to end user twiki
                        <i class="fa fa-external-link"></i>
                        </a>
                    </h6>

                    <h6>
                        <a href="{{URLS.LINKS.TWIKI_DEVELOPERS}}" target="_blank">
                        Link to developer twiki
                        <i class="fa fa-external-link"></i>
                        </a>
                    </h6>

                    <h6>
                        <a href="{{URLS.LINKS.JIRA_PROJECT}}" target="_blank">
                        Link to jira project
                        <i class="fa fa-external-link"></i>
                        </a>
                    </h6>

                    <h6>
                        <a href="mailto:{{URLS.EMAIL.DEVS}}" target="_blank">
                        Contact the developers
                        <i class="fa fa-envelope-o"></i>
                        </a>
                    </h6>

                    <h6>
            
                        <a href="mailto:{{URLS.EMAIL.EXPERTS}}" target="_blank">
                        Contact the Offline DB Experts
                        <i class="fa fa-envelope-o"></i>
                        </a>
                    </h6>

                </section>                  
            </div>
        </div>
    </div>
</div>
      