<nav id="top_navbar" class="navbar sticky-top navbar-expand navbar-light bg-light">
    <!-- Home link -->
    <a class="navbar-brand" routerLink="{{URLS.NAV.HOME}}"  [routerLinkActive]="['active']" title="Dataset Spy">Dataset Spy</a>

    <!-- Navbar -->
    <div class="navbar">
        <ul class="navbar-nav">

            <!-- Charts item -->
            <li class="nav-item">
                <a class="nav-link" routerLink="{{URLS.NAV.CHARTS}}" [routerLinkActive]="['active']">
                    <i class="fa fa-bar-chart"></i>
                    Charts
                </a>
            </li>

            <!-- Admin item -->
            <li class="nav-item">
                <a class="nav-link" routerLink="{{URLS.NAV.ADMIN}}" [routerLinkActive]="['active']">
                    <i class="fa fa-cog"></i>
                    Admin
                </a>
            </li>

        </ul>

    </div>

</nav>

<!-- Alert when api dies -->
<ngb-alert type="danger" *ngIf="requestProblems && !alertClosed" (close)="alertClosed=true">
    There was a problem with the backend or you are not logged in, click <a class="alert-link" (click)="tryLogin()">here</a> to reload the page.
</ngb-alert>
  