<div class="bg-light" [ngStyle]="{'width': isOpen ? '20rem' : '1.5rem'}" style="height:100%;">
    <a class="closebtn text-secondary" (click)="isOpen = !isOpen">
        <i [ngClass]="isOpen ? 'fa-arrow-left' : 'fa-arrow-right'" class="fa fa-lg"></i>
    </a>

    <div class="container-fluid" [ngStyle]="{'display': isOpen ? '' : 'none'}">
        <ng-content></ng-content>
    </div>
</div>